<%include ./partials/header%>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-7 well">
                <h1>Welcome To Pc Repair</h1>
                <p>Your pc is running slow, or maybe not working just bring it here and we will take care of everything</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, officiis rerum sapiente repellendus inventore
                    facere?
                </p>
            </div>
            <div class="col-md-5 well">
                <img src="images/mouse.png" alt="mouse image">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 bg-primary text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, quis debitis. Obcaecati laboriosam dolores
            reprehenderit? Consequatur tenetur, dolorum est blanditiis quae sint eligendi illo dolores ut eaque quas quod
            vitae. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga necessitatibus provident eius earum illo
            modi eveniet fugit? Non perferendis quae eum ipsa modi, quas repellat distinctio, illo dolor unde dolores. Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Unde quidem in nobis dolorem hic assumenda quos optio, rem
            nam, vel asperiores aliquam minus. Est ipsum sit dolores corrupti vitae eveniet!
        </div>
        <div class="col-md-6 bg-danger text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, beatae excepturi libero quam itaque fugiat temporibus
            voluptas illo sit dolores soluta ut asperiores! Laborum quia magnam doloremque quidem et maiores. Lorem, ipsum
            dolor sit amet consectetur adipisicing elit. Fuga necessitatibus provident eius earum illo modi eveniet fugit?
            Non perferendis quae eum ipsa modi, quas repellat distinctio, illo dolor unde dolores. Lorem ipsum dolor sit
            amet consectetur adipisicing elit. Unde quidem in nobis dolorem hic assumenda quos optio, rem nam, vel asperiores
            aliquam minus. Est ipsum sit dolores corrupti vitae eveniet!

        </div>
    </div>
    <%include ./partials/footer%>