<%include ./partials/header%>
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-7 well">
        <h1>Welcome To Pc Repair</h1>
        <p>Your pc is running slow, or maybe not working just bring it here and we will take care of everything</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, officiis rerum sapiente repellendus inventore
          facere?
        </p>
      </div>
      <div class="col-md-5 well">
        <img src="images/mouse.png" alt="mouse image">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 well">
      <h3>Hardware Repairing</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, voluptatum impedit! Assumenda est fuga delectus pariatur
        officiis ad ratione excepturi, ea eaque veniam in aperiam molestiae quasi harum necessitatibus. Voluptas?</p>
    </div>
    <div class="col-md-4 well">
      <h3>Software Repairing</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum, odio quas fuga labore voluptas placeat pariatur
        est eligendi consequuntur et, exercitationem repudiandae eius temporibus iusto sapiente accusantium vero ipsum adipisci?</p>
    </div>
    <div class="col-md-4 well">
      <h3>Tune up PC </h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi reprehenderit alias aliquid ut. Repellat culpa ullam
        asperiores, adipisci pariatur eveniet natus quibusdam enim recusandae, deleniti, ex odio placeat temporibus. Obcaecati.</p>
    </div>
  </div>
  </div>
  <%include ./partials/footer%>