<div class="row">
  <div class="col-md-8 offset-md-2">

    <div class="card card-body my-5">
      <h3 class="text-center display-3">Video Ideas</h3>
      <form action="/ideas" method="POST">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" required name="title" id="title" class="form-control">
        </div>

        <div class="form-group">
          <label for="details">Details</label>
          <textarea type="text" required name="details" id="details" class="form-control"></textarea>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary"> Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>