<h1 class="header">Account Login</h1>
<div class="card card-body">
	
	<div class="form-group">
		<label for="name">Name</label>
		<input type="text" name="name" placeholder="Name..." class="form-control" id="name">
	</div>

	<div class="form-group">
		<label for="username">Username</label>
		<input type="text" name="username" placeholder="Username..." class="form-control" id="username">
	</div>
	
	<div class="form-group">
		<label for="email">Email</label>
		<input type="text" name="email" placeholder="Email..." class="form-control" id="email">
	</div>

	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" placeholder="Password..." class="form-control" id="password">
	</div>

	<div class="form-group">
		<label for="c-password">Confirm Password</label>
		<input type="cpassword" placeholder="Confirm Password..." class="form-control" id="c-password">
	</div>

	<input type="submit" class="btn btn-primary" value="Submit">
</div>